.settings_menu_td{
    vertical-align: middle !important;
    font-size: 1.5rem;
    padding: 10px 0 10px 0 !important;
}

.settings_menu_checkbox{
    height: 37px;
}

.settings_second_menu{
    padding-left: 40px;
}
